<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link rel="stylesheet" href="/login.css">

</head>
<body>

  <div class="container">
      <div class="logo">
        <a href="#" class="logo-name"><h4 class="font-serif		">Linktree <sup>*</sup></h4></a>
      </div>
      <main class="main-section">
        <div class="section-2">
          <div class="section-3 ">
            <div class="text-combo ">
              <h1 class="main-text ">Join Linktree</h1>
              <p class="text-base  ">Sign up for free!</p>
            </div>
          </div>
          <form action="/Singup" method="post">
            <div class="input-con">
              <input type="text" name="name" placeholder="Email " class="email-text "/>
              <div></div>
              <input type="password" name="password" placeholder="Password " class="email-text "/>
            </div>
            <button type="submit" class="font btns "><span class="font-semibold">Create account</span></button>
            <div class="pt-lg text-center mt-12">

              <p class="text-concrete ">
                By Cheacking <span class="font-semibold">Create account</span> you agree to Linktree <a href="" class="text-primary">privacy policy</a>,<a href="" class="text-primary">T&Cs </a>and to receive offers, news and updates.
              </p>
            </div>
          </form>
        </div>
      </main>
  
</body>
</html>